body{
    background-color: #E8E3DE;
}
.container-text{
    cursor: pointer;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}
.header{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.container-links {
    display: flex;
    align-items: center;
    gap: 70px;

}
a{
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    
    cursor: pointer;
}
a:hover{
    transition-delay: 0.1s;
    box-shadow: rgb(0, 0, 0) 0px 2px 0px 0px;
}

